@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model ServiceVM
@{
    ViewData["Title"] = _localizer["Services"];
}

<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml",model:Model.Breadcrumb)
<!--breadcrumbs area end-->
<!--Main Start-->
<main>
    <!--services img area-->
    <div class="services_gallery mt-60">
        <div class="container">
            <div class="row">
                @foreach (var ser in Model.ServicesCoverTranslates)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="single_services">
                            <div class="services_thumb">
                                <img src="~/images/@ser.ServicesCover.Photo" alt="">
                            </div>
                            <div class="services_content">
                                <h3>@ser.Title</h3>
                                <p>
                                   @ser.Desc
                                </p>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--services img end-->
    <!--our services area-->
    <div class="our_services">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="services_title">
                        <h2>@_localizer["OUR SERVICES"]</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var ser in Model.OurServiceTranslates)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="services_item">
                            <div class="services_icone">
                                <i class="@ser.OurService.Icon" aria-hidden="true"></i>
                            </div>
                            <div class="services_desc">
                                <h3>@ser.Title</h3>
                                <p>
                                    @ser.Desc
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--our services area end-->
   
<!--Main End-->
