
@model FaqVM
@{
    ViewData["Title"] = "FAQ";
}

<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml",model:Model.Breadcrumb)
<!--breadcrumbs area end-->
<!--Main Start-->
<main>

    <!--faq area start-->
    <div class="faq_content_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="faq_content_wrapper">
                        <h4>@Model.Setting.FAQTitle</h4>
                        <p>
                           @Model.Setting.FAQContent
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Accordion area-->
    <div class="accordion_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="accordion" class="card__accordion">
                        @foreach (var faq in Model.FaqTranslates)
                        {
                            <div class="card card_dipult">
                                <div class="card-header card_accor" id="heading-@faq.FaqId">
                                    <button class="btn btn-link @(faq.Faq.Order!=1?"collapsed":"")" data-toggle="collapse" data-target="#collapse-@faq.FaqId"
                                            aria-expanded="true" aria-controls="collapse-@faq.FaqId">
                                        @faq.Question
                                        <i class="fa fa-plus"></i>
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <div id="collapse-@faq.FaqId" class="collapse @(faq.Faq.Order==1?"show":"")" aria-labelledby="heading-@faq.FaqId"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            @faq.Answer
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Accordion area end-->
</main>
<!--Main End-->
