@model IEnumerable<Junko.Models.Brand>

@{
    ViewData["Title"] = "Brendlər";
}

<partial name="_NotificationPartial" />
<h1>Brendlər</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create">Yeni Brend yarat</a>
</p>
<table class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <input @(item.Status == true ? "checked" : "") type="checkbox" id="toggle" class="toogleBoot toggle-checkbox"
                           data-toggle="toggle"
                           data-url="/Control/brands/edit/@item.Id"
                           data-on="Aktiv"
                           data-off="Deaktiv"
                           data-onstyle="success"
                           data-offstyle="danger">
              
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                    <a class="categoryDelete" asp-action="delete" asp-route-id="@item.Id"><i class="fas fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>
        $(function () {
            setTimeout(function () {
                $(".zmdi-notifications").fadeOut("slow");
            }, 2500)
        });
    </script>
}