@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model ContactVM
@{
    ViewData["Title"] = "Contact";
}

<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml", model: Model.Breadcrumb)
@{
    string location = Model.SettingTranslate.Setting.Location.ToLower().Trim().Replace(' ', '+');
}
 }
<!--breadcrumbs area end-->
<!--Main Start-->
<main>
    <!--contact map start-->
    <div class="contact_map">
        <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:100%;height:500px;">
            <div id="embedmap-display" style="height:100%; width:100%;max-width:100%;">
                <iframe style="height:100%;width:100%;border:0;" frameborder="0"
                        src="https://www.google.com/maps/embed/v1/place?q=@(location)&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
                </iframe>
            </div>
            <a class="googlemaps-code" href="https://www.embed-map.com"
               id="get-mapdata">https://www.embed-map.com</a>
            <style>
                .map-generator {
                    max-width: 100%;
                    max-height: 100%;
                    background: none;
                }
            </style>
        </div>
    </div>
    <!--contact map end-->
    <!--contact area start-->
    <div class="contact_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message content">
                        <h3>@_localizer["Contact Us"]</h3>
                        
                        <ul>
                            <li><i class="fa fa-fax"></i> @_localizer["Address"] : @Model.SettingTranslate.Address</li>
                            <li><i class="fa fa-phone"></i> <a href="#">@Model.SettingTranslate.Setting.Email</a></li>
                            <li><i class="fa fa-envelope-o"></i>@Model.SettingTranslate.Setting.Phone</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--contact area end-->
</main>
<!--Main End-->
