@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization;
@inject IViewLocalizer _localizer
@model ICollection<Product>
@{
    var rqf = Context.Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var culture = rqf.RequestCulture.Culture;
}

<div class="product_carousel product_column5 owl-carousel">
    @foreach (var product in Model)
    {
        <article class="single_product">
            <figure>
                <div class="product_thumb">

                    <a class="primary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug"><img style="height:200px; object-fit:contain" src="~/images/@(product.ProductPhotos.FirstOrDefault()==null?"product/product-default.png":product.ProductPhotos.FirstOrDefault().Photo) " alt="@product.Name"></a>
                    <a class="secondary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug"><img style="height:200px; object-fit:contain" src="~/images/@(product.ProductPhotos.FirstOrDefault()==null ?"product/product-default.png":product.ProductPhotos.Count==1?product.ProductPhotos.FirstOrDefault().Photo:product.ProductPhotos.Skip(1).FirstOrDefault().Photo)" alt="@product.Name"></a>
                    <div class="label_product">
                        <span class="label_sale">@_localizer["sale"]</span>
                    </div>
                    <div class="action_links">
                        <ul>
                            <li class="wishlist">
                                <a asp-controller="ordering" asp-action="wishlist" title="@_localizer["Add to Wishlist"]">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="quick_button">
                                <a href="#" data-toggle="modal"
                                   data-target="#modal_box" title="@_localizer["quick view"]">
                                    <span class="ion-ios-search-strong"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="add_to_cart">
                        <a href="cart.html" title="add to cart">@_localizer["Add to cart"]</a>
                    </div>
                    <div class="product_timing">
                        <div data-countdown="@DateTime.Now.AddDays((double)product.DiscountDate).ToString("yyyy'/'MM'/'dd")"></div>
                    </div>
                </div>
                <figcaption class="product_content">

                    <price price="@product.Price" discount-price="@product.Discount" language-id="@product.BrandProductCategory.ProductSubCategory.ProductSubCategoryTranslate.FirstOrDefault(a=>a.Language.LanguageCode==culture.ToString()).LanguageId"></price>
                    <h3 class="product_name">
                        <a asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                            @product.Name
                        </a>
                    </h3>
                </figcaption>
            </figure>
        </article>
    }
</div>
