@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model ShopDetailVM
@{
    ViewData["Title"] = _localizer["Product Detail"];
}
<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml", model: Model.Breadcrumb)
<!--breadcrumbs area end-->
<!--Main Start-->
<main>
    <!--product details start-->
    <div class="product_details mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom d-flex justify-content-center align-items-center">
                            <a href="#">
                                <img style="height:400px;object-fit:contain" id="zoom1" src="~/images/@(Model.Product.ProductPhotos.FirstOrDefault(x=>x.Status==true)==null?"product/product-default.png":Model.Product.ProductPhotos.FirstOrDefault(x=>x.Status==true).Photo)"
                                     data-zoom-image="../images/@(Model.Product.ProductPhotos.FirstOrDefault(x=>x.Status==true)==null?"product/product-default.png":Model.Product.ProductPhotos.FirstOrDefault(x=>x.Status==true).Photo)" alt="@Model.Product.Name">
                            </a>
                        </div>
                        <div class="single-zoom-thumb">
                            <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_02">
                                @foreach (var photo in Model.Product.ProductPhotos.Where(x => x.Status == true))
                                {
                                    <li>
                                        <a href="#" class="elevatezoom-gallery active" data-update=""
                                           data-image="../images/@(photo.Photo!=null ? photo.Photo : "noimage.png")"
                                           data-zoom-image="../images/@(photo.Photo!=null ? photo.Photo : "noimage.png")">
                                            <img src="~/images/@(photo.Photo!=null ? photo.Photo : "noimage.png")" alt="@Model.Product.Name" />
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                        <form action="#">
                            @{
                                string slugPlus = Model.Product.Slug;
                                string slugMinus = Model.Product.Slug;
                                for (int i = 1; i <= Model.LikeProducts.Count; i++)
                                {
                                    if (Model.LikeProducts.FirstOrDefault(l => l.Id == (Model.Product.Id + 1)) != null)
                                    {
                                        slugPlus = Model.LikeProducts.FirstOrDefault(l => l.Id == (Model.Product.Id + i)).Slug;
                                        break;
                                    }
                                }
                                for (int i = 1; i <= Model.LikeProducts.Count; i++)
                                {
                                    if (Model.LikeProducts.FirstOrDefault(l => l.Id == (Model.Product.Id - 1)) != null)
                                    {
                                        slugMinus = Model.LikeProducts.FirstOrDefault(l => l.Id == (Model.Product.Id - i)).Slug;
                                        break;
                                    }
                                }

                            }
                            <h1>@Model.Product.Name</h1>
                            <div class="product_nav">
                                <ul>
                                    <li class="prev"><a asp-action="detail" asp-controller="shop" asp-route-slug="@slugPlus"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="next"><a asp-action="detail" asp-controller="shop" asp-route-slug="@slugMinus"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                            <div class="product_ratting">
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li class="review"><a href="#"> (customer review ) </a></li>
                                </ul>

                            </div>

                            <price price="@Model.Product.Price" discount-price="@Model.Product.Discount" language-id="@Model.LanguageId"></price>
                            <div class="product_desc">
                                <p>
                                    @if (@Model.Product.ProductTranslates.FirstOrDefault(a => a.LanguageId == Model.LanguageId) != null)
                                    {
                                        @Model.Product.ProductTranslates.FirstOrDefault(a => a.LanguageId == Model.LanguageId).Desc
                                    }
                                </p>
                            </div>
                            @if (Model.Product.Discount > 0)
                            {
                                <div class="product_timing">
                                    <div data-countdown="@DateTime.Now.AddDays((double)Model.Product.DiscountDate).ToString("yyyy'/'MM'/'dd")"></div>
                                </div>
                            }
                            <div class="product_variant color">
                                <h3>@_localizer["Available Options"]</h3>
                                <label>
                                    @_localizer["color"]
                                </label>

                                <ul>
                                    @foreach (var color in Model.Product.ProductColors.Where(p => p.ProductId == Model.Product.Id))
                                    {
                                        <li style="background-color:@(color.Color.Code)"><a href="#"></a></li>
                                    }
                                </ul>
                            </div>
                            <div class="product_variant quantity">
                                <label>@_localizer["quantity"]</label>
                                <input min="1" max="100" value="1" type="number">
                                <a class="addToCart btn btn-info ml-2" asp-route-id="@Model.Product.Id" asp-controller="ordering" asp-action="add" data-id="@Model.Product.Id" title="@_localizer["Add to cart"]"> @_localizer["Add to cart"]</a>

                            </div>
                            <div class=" product_d_action">
                                <ul>
                                    <li><a class="addToCartWishlistSaled" asp-action="AddWishlist" asp-controller="ordering" asp-route-id="@Model.Product.Id" data-id="@Model.Product.Id" title="Add to wishlist">+ @_localizer["Add to Wishlist"]</a></li>
                                </ul>
                            </div>
                            <div class="product_meta">
                                <span>@_localizer["Category"]: <a href="#">@Model.Product.BrandProductCategory.ProductSubCategory.ProductSubCategoryTranslate.FirstOrDefault(p => p.LanguageId == Model.LanguageId).Name</a></span>
                            </div>

                        </form>
                        <div class="priduct_social">
                            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->
    <!--product info start-->
    <div class="product_d_info mb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">
                        <div class="product_info_button">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                                       aria-selected="false">@_localizer["Description"]</a>
                                </li>
                                @if (Model.Product.ProperityProducts.Where(p => p.ProductId == Model.Product.Id).Count() > 0)
                                {
                                    <li>
                                        <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet"
                                           aria-selected="false">@_localizer["Specification"]</a>
                                    </li>
                                }
                                <li>
                                    <a  data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                       aria-selected="false">@_localizer["Reviews"] (<span id="ReviewCount">@Model.Product.ProductReviews.Count</span>)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel">
                                <div class="product_info_content">
                                    @if (@Model.Product.ProductTranslates.FirstOrDefault(a => a.LanguageId == Model.LanguageId) != null)
                                    {
                                        @Model.Product.ProductTranslates.FirstOrDefault(a => a.LanguageId == Model.LanguageId).Desc
                                    }
                                </div>
                            </div>
                            @if (Model.Product.ProperityProducts.Where(p => p.ProductId == Model.Product.Id).Count() > 0)
                            {
                                <div class="tab-pane fade" id="sheet" role="tabpanel">
                                    <div class="product_d_table">
                                        <form action="#">
                                            <table>
                                                <tbody>

                                                    @foreach (var prop in Model.Product.ProperityProducts.Where(p => p.ProductId == Model.Product.Id))
                                                    {
                                                        <tr>
                                                            <td class="first_child">@prop.Properity.ProperityTranslates.FirstOrDefault(prop => prop.LanguageId == Model.LanguageId).Name</td>
                                                            <td>@prop.Key</td>
                                                        </tr>
                                                    }


                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            }


                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                <div class="reviews_wrapper">
                                    <div id="reviews_wrapper_shop">
                                        @if (Model.ProductReview.ProductReviews.Count > 0)
                                        {
                                            @foreach (var rev in Model.ProductReview.ProductReviews)
                                            {
                                                <div class="comment_list">
                                                    <div class="comment_thumb">
                                                        <img src="~/images/blog/comment3.png.jpg" alt="">
                                                    </div>
                                                    <div class="comment_content">
                                                        <div class="comment_meta">
                                                            <h5><a href="#">@(rev.AdminManagerId > 0 || rev.AdminManagerId != null ? rev.Admin.Category.AdminCategoryTranslates.FirstOrDefault(a => a.LanguageId == Model.LanguageId).Name : rev.User.Firstname + " " + rev.User.Lastname)</a></h5>
                                                            <div class="d-flex justify-content-between">
                                                                <span>@rev.CreatedAt.ToString("MM dd, yyy 'at' HH:mm ")</span>
                                                                <a asp-action="delete" asp-controller="Shop" asp-route-id="@rev.Id" style="font-size:1.5rem" class="text-danger @(Model.LanguageId==2 ? "shopReviewDeleteAz":"shopReviewDeleteEn")"><i class="fas fa-long-arrow-alt-left"></i></a>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            @rev.Content
                                                        </p>
                                                    </div>

                                                </div>
                                            }
                                        }
                                    </div>
                          
                                    <div class="product_review_form">
                                        <div class="comments_form">
                                            <h3>@_localizer["Add a Comment"] </h3>
                                            <form id="ProductReview" asp-action="Review" asp-controller="shop" method="post">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="Content">@_localizer["Comment"] </label>
                                                        <textarea name="Content" id="Content"></textarea>
                                                    </div>
                                                    <input hidden name="ProductId" value="@Model.Product.Id" />
                                                    <input hidden name="UserClientId" value="@Model.UserClientId" />
                                                    <input hidden name="AdminManagerId" value="@Model.AdminId" />
                                                </div>
                                                <button class="button" type="submit">@_localizer["Post Comment"]</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product info end-->
    <!--product area start-->
    <section class="product_area mb-46">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>@_localizer["Like Products"]</h2>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Shared/_MostSaled.cshtml", model: Model.LikeProducts)
        </div>
    </section>
    <!--product area end-->
    <!--product area start-->
    <section class="product_area mb-46">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>@_localizer["Most Saled Products"]</h2>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Shared/_MostSaled.cshtml", model: Model.MostSaledProducts)
        </div>
    </section>
    <!--product area end-->

</main>
<!--Main End-->
@section Scripts{
    <script>
        $(function () {
            $("a.addToCart").click(function (e) {
                e.preventDefault();
                let id = $(this).data("id");
                $.get('/ordering/add/' + id, {}, function (data) {
                    $("div.smallCart").html(data);
                    toastr.success("@_localizer["Product Added the Cart"]", "@_localizer["Success"]");
                });
            });
        });
         $(function () {
            $("a.addToCartWishlistSaled").click(function (e) {
                e.preventDefault();
                let id = $(this).data("id");
                $.get('/ordering/AddWishlist/' + id, {}, function (data) {
                    $("div.smallCart").html(data);
                    toastr.success("@_localizer["Product Added the WishhList"]", "@_localizer["Success"]");
                });
            });
        });
    </script>

}