 @using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model ShopIndexVM
@{
    ViewData["Title"] = _localizer["Shop"];
}

<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml", model: Model.Breadcrumb)
<!--breadcrumbs area end-->
<!--Main Start-->
<main>

    <!--shop  area start-->
    <div class="shop_area shop_reverse mt-60 mb-60">
        <div class="container">
            <div class="row shop_rev">
                <div class="col-lg-3 col-md-12">
                    <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_inner">
                            <div class="widget_list widget_categories">
                                <h2>@_localizer["Product categories"]</h2>
                                <div id="accordion" class="card__accordion">
                                    @foreach (var cat in Model.ProductCategoryTranslates)
                                    {
                                        <div class="card card_dipult">
                                            <div class="card-header card_accor" id="heading-@cat.Id">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-@cat.Id"
                                                        aria-expanded="true" aria-controls="collapse-@cat.Id">
                                                    @cat.Name
                                                    <i class="fa fa-plus"></i>
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            @if (cat.ProductCategory.ProductSubCategories.Count > 0)
                                            {
                                                <div id="collapse-@cat.Id" class="collapse" aria-labelledby="heading-@cat.Id"
                                                     data-parent="#accordion">
                                                    <div class="card-body widget-succategory-card">
                                                        <ul >
                                                            @foreach (var subcat in cat.ProductCategory.ProductSubCategories)
                                                            {
                                                                <li class="widget-succategory"><a asp-controller="shop" asp-action="index" asp-route-category="@subcat.Id">@subcat.ProductSubCategoryTranslate.FirstOrDefault(s => s.LanguageId == cat.LanguageId).Name</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="widget_list widget_filter">
                                <h2>Filter by price</h2>
                                <form action="#" id="FilterProduct">
                                    <div id="slider-range"></div>
                                    <button type="submit">Filter</button>
                                    <input type="text" name="filter" id="amount" />
                                </form>
                            </div>
                            <div class="widget_list">
                                <h2>Compare Products</h2>
                                <div class="recent_product_container">
                                    <article class="recent_product_list">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="product-detail.html"><img src="~/images/product/product1.jpg" alt=""></a>
                                            </div>
                                            <div class="product_content">
                                                <h3><a href="product-detail.html">Natus erro at congue</a></h3>
                                                <div class="product_ratings">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    <span class="old_price">$70.00</span>
                                                    <span class="current_price">$65.00</span>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                    <article class="recent_product_list">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="product-detail.html"><img src="~/images/product/product2.jpg" alt=""></a>
                                            </div>
                                            <div class="product_content">
                                                <h3><a href="product-detail.html">Auctor gravida enim</a></h3>
                                                <div class="product_ratings">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    <span class="old_price">$70.00</span>
                                                    <span class="current_price">$65.00</span>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                    <article class="recent_product_list">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="product-detail.html"><img src="~/images/product/product24.jpg" alt=""></a>
                                            </div>
                                            <div class="product_content">
                                                <h3><a href="product-detail.html">Cillum dolore tortor</a></h3>
                                                <div class="product_ratings">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    <span class="old_price">$70.00</span>
                                                    <span class="current_price">$65.00</span>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->
                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper">
                        <div class="shop_toolbar_btn">

                            <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"></button>

                            <button data-role="grid_4" type="button" class=" btn-grid-4" data-toggle="tooltip" title="4"></button>

                            <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"></button>
                        </div>
                        <div class="sortable-form">
                            <form method="get" role="form"  asp-controller="shop" asp-action="index" asp-route-category=@(Model.Pagination.CategoryId !=null? Model.Pagination.CategoryId:null )>
                                <select onchange="this.form.submit();" name="orderby" class="custom-select custom-select-md">
                                    @if (Model.Pagination.OrderBy == 1)
                                    {
                                        <option selected value="1">@_localizer["Sort by newness"]</option>
                                    }
                                    else
                                    {
                                        <option value="1">@_localizer["Sort by newness"]</option>
                                    }
                                    @if (Model.Pagination.OrderBy == 2)
                                    {
                                        <option selected value="2">@_localizer["Sort by average rating"]</option>
                                    }
                                    else
                                    {
                                        <option value="2">@_localizer["Sort by average rating"]</option>
                                    }
                                    @if (Model.Pagination.OrderBy == 3)
                                    {
                                        <option selected value="3">@_localizer["Sort by price"]: @_localizer["low to high"]</option>
                                    }
                                    else
                                    {
                                        <option value="3">@_localizer["Sort by price"]: @_localizer["low to high"]</option>
                                    }@if (Model.Pagination.OrderBy == 4)
                                    {
                                        <option selected value="4">@_localizer["Sort by price"]: @_localizer["high to low"]</option>
                                    }
                                    else
                                    {
                                        <option value="4">@_localizer["Sort by price"]: @_localizer["high to low"]</option>
                                    }
                                    @if (Model.Pagination.OrderBy == 5)
                                    {
                                        <option selected value="5">@_localizer["Sort by Product Name"]: Z</option>
                                    }
                                    else
                                    {
                                        <option value="5">@_localizer["Sort by Product Name"]: Z</option>
                                    }
                                </select>
                            </form>
                        </div>
                        <div class="page_amount">
                            <p>@_localizer["Showing"] 1–@Model.Pagination.PageCount  of @Model.ProductCount @_localizer["results"]</p>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <div class="row shop_wrapper">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-lg-4 col-md-4 col-12 ">
                                <article class="single_product">
                                    <figure class="ProductList">
                                        <div class="product_thumb">
                                            <a class="primary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug"><img style="height:200px; object-fit:contain" src="~/images/@(product.ProductPhotos.FirstOrDefault()==null?"product/product-default.png":product.ProductPhotos.FirstOrDefault().Photo) " alt="@product.Name"></a>
                                            <a class="secondary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug"><img style="height:200px; object-fit:contain" src="~/images/@(product.ProductPhotos.FirstOrDefault()==null ?"product/product-default.png":product.ProductPhotos.Count==1?product.ProductPhotos.FirstOrDefault().Photo:product.ProductPhotos.Skip(1).FirstOrDefault().Photo)" alt="@product.Name"></a>
                                            @if (product.Discount!=0 )
                                            {
                                                <div class="label_product">
                                                    <span class="label_sale">@_localizer["sale"]</span>
                                                </div>
                                            }
                                            <div class="action_links">
                                                <ul>
                                                    <li class="wishlist"><a href="wishlist.html" title="@_localizer["Add to Wishlist"]"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>

                                                    <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="@_localizer["Quick View"]"> <span class="ion-ios-search-strong"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="add_to_cart">
                                                <a asp-action="add" asp-controller="ordering" asp-route-id="@product.Id" title="@_localizer["Add to cart"]">@_localizer["Add to cart"]</a>
                                            </div>
                                        </div>
                                        <div class="product_content grid_content">
 
                                            <price price="@product.Price" discount-price="@product.Discount" language-id="@Model.ProductCategoryTranslates.FirstOrDefault().LanguageId"></price>

                                            <div class="product_ratings">
                                                <ul>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                </ul>
                                            </div>
                                            <h3 class="product_name grid_name"><a style="font-weight:bold;font-size:medium;color:dimgray" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">@product.Name</a></h3>
                                        </div>
                                        <div class="product_content list_content">
                                            <div class="left_caption">
                                                <price price="@product.Price" discount-price="@product.Discount" language-id="@Model.ProductCategoryTranslates.FirstOrDefault().LanguageId"></price>
                                               
                                                <h3 class="product_name"><a style="font-weight:bold;font-size:medium;color:dimgray" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">@product.Name</a></h3>
                                                <div class="product_ratings">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="right_caption">
                                                <div class="add_to_cart">
                                                    <a asp-action="add" asp-controller="ordering" asp-route-id="@product.Id" title="add to cart">@_localizer["Add to cart"]</a>
                                                </div>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="wishlist"><a href="wishlist.html" title="@_localizer["Add to Wishlist"]"><i class="fa fa-heart-o" aria-hidden="true"></i>@_localizer["Add to Wishlist"]</a></li>
                                                     
                                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="@_localizer["Quick View"]"> <span class="ion-ios-search-strong"></span>@_localizer["Quick View"] </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </article>
                            </div>
                        }
                    </div>

                    <!--blog pagination area start-->
                    <div class="blog_pagination">
                        <div class="container">

                            @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", model: Model.Pagination)

                        </div>
                    </div>
                    <!--blog pagination area end-->
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </div>
    </div>
    <!--shop  area end-->
</main>
<!--Main End-->
