@model IEnumerable<Junko.Models.ProductSubCategory>

@{
    ViewData["Title"] = "Məhsul Alt kateqoriya";
}

<partial name="_NotificationPartial" />
<h1>Məhsul Alt kateqoriya</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Yeni Alt kateqoriya yarat</a>
</p>
<table class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Məhsul kateqoriyası
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="100" src="~/images/@(item.Photo !=null ? item.Photo : "noimage.png")" />
                </td>
                <td>
                    <input @(item.Status == true ? "checked" : "") type="checkbox" id="toggle" class="toogleBoot toggle-checkbox"
                           data-toggle="toggle"
                           data-url="/Control/productsubcategories/edit/@item.Id"
                           data-on="Aktiv"
                           data-off="Deaktiv"
                           data-onstyle="success"
                           data-offstyle="danger">
                </td>
                <td>
                    @item.ProductCategory.ProductCategoryTranslate.FirstOrDefault(x => x.LanguageId == 2).Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fas fa-info-circle"></i></a>
                    <a class="categoryDelete" asp-action="delete" asp-route-id="@item.Id"><i class="fas fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>
        $(function () {
            setTimeout(function () {
                $(".zmdi-notifications").fadeOut("slow");
            }, 2500)
        });
    </script>
}