@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model AccountVM
@{
    ViewData["Title"] = _localizer["Account"];
    
}

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml",model:Model.Breadcrumb)
<!--Main Start-->
<main>
    <!-- my account start  -->
    <section class="main_content_area">
        <div class="container">
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button">
                            <ul role="tablist" class="nav flex-column dashboard-list">
                                <li>
                                    <a href="#dashboard" data-toggle="tab" class="nav-link active">@_localizer["Dashboard"]</a>
                                </li>
                                <li> <a href="#orders" data-toggle="tab" class="nav-link">@_localizer["Orders"]</a></li>
                                <li><a href="#address" data-toggle="tab" class="nav-link">@_localizer["Addresses"]</a></li>
                                <li>
                                    <a href="#account-details" data-toggle="tab" class="nav-link">
                                        @_localizer["Account Details"]
                                    </a>
                                </li>
                                <li><a asp-action="logout" asp-controller="login" asp-route-returnUrl="@ViewBag.returnUrl" class="nav-link">@_localizer["Logout"]</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                            <div class="tab-pane fade show active" id="dashboard">
                                <h3>@_localizer["Dashboard"] </h3>
                                <p>
                                    @_localizer["From your account dashboard. you can easily check and view your recent orders manage your shipping and and Edit your password and account details."]
                                </p>
                            </div>
                            <div class="tab-pane fade" id="orders">
                                <h3>Orders</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>@_localizer["Order"]</th>
                                                <th>@_localizer["Date"]</th>
                                                <th>@_localizer["Status"]</th>
                                                <th>@_localizer["Total"]</th>
                                                <th>@_localizer["Actions"]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>May 10, 2018</td>
                                                <td><span class="success">@_localizer["Completed"]</span></td>
                                                <td>$25.00 for 1 item </td>
                                                <td><a href="cart.html" class="view">@_localizer["View"]</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>May 10, 2018</td>
                                                <td>@_localizer["Processing"]</td>
                                                <td>$17.00 for 1 item </td>
                                                <td><a href="cart.html" class="view">@_localizer["View"]</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="address">
                                <h4 class="billing-address">@_localizer["Address"]</h4>
                                <a href="#" class="view">Edit</a>
                                <p><strong>@Model.User.Firstname @Model.User.Lastname</strong></p>
                                <address>
                                    @Model.User.Address
                                </address>
                            </div>
                            <div class="tab-pane fade" id="account-details">
                                <h3>@_localizer["Account Details"]</h3>
                                <div class="login">
                                    <div class="login_form_container">
                                        <div class="account_login_form">
                                            <form asp-controller="login" asp-action="edit" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
                                                <div asp-validation-summary="ModelOnly"></div>
                                                @_localizer["Gender"]:
                                                <select class="custom-select mb-1" asp-for="User.Gender"
                                                        asp-items="Html.GetEnumSelectList<Gender>()">
                                                </select><br />

                                                @_localizer["Firstname"]:  <input asp-for="User.Firstname" /> <br />
                                                <input hidden asp-for="User.Id" />
                                                <span class="text-danger" asp-validation-for="User.Firstname"></span><br />

                                                @_localizer["Lastname"]:  <input asp-for="User.Lastname" /> <br />
                                                <span class="text-danger" asp-validation-for="User.Lastname"></span><br />

                                                @_localizer["Email"]:  <input asp-for="User.Email" /> <br />
                                                <span class="text-danger" asp-validation-for="User.Email"></span><br />

                                                @_localizer["Birthday"]:  <input asp-for="User.Birthday" /> <br />
                                                <span class="text-danger" asp-validation-for="User.Birthday"></span><br />

                                                @_localizer["Password"]: <input asp-for="User.Password" /><br />
                                                <span class="text-danger" asp-validation-for="User.Password"></span><br />
                                                <button type="submit">@_localizer["Save"]</button>
                                            </form>
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- my account end   -->
        </main>
        <!--Main End-->
