@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model RegisterVM
@{
    ViewData["Title"] = _localizer["Register"];
}


@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml", model: Model.Breadcrumb)
<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="account_form register">
                    <h2>@_localizer["Register"]</h2>
                    <form asp-controller="login" asp-action="register" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly"></div>
                        @_localizer["Gender"]:
                        <select class="custom-select mb-1" asp-for="User.Gender"
                                asp-items="Html.GetEnumSelectList<Gender>()">
                        </select><br />

                        @_localizer["Firstname"]:  <input asp-for="User.Firstname" /> <br />
                        <span class="text-danger" asp-validation-for="User.Firstname"></span><br />

                        @_localizer["Lastname"]:  <input asp-for="User.Lastname" /> <br />
                        <span class="text-danger" asp-validation-for="User.Lastname"></span><br />

                        @_localizer["Email"]:  <input asp-for="User.Email" /> <br />
                        <span class="text-danger" asp-validation-for="User.Email"></span><br />

                        @_localizer["Birthday"]:  <input asp-for="User.Birthday" /> <br />
                        <span class="text-danger" asp-validation-for="User.Birthday"></span><br />

                        @_localizer["Password"]: <input asp-for="User.Password" /><br />
                        <span class="text-danger" asp-validation-for="User.Password"></span><br />
                        <button type="submit">@_localizer["Register"]</button>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>