@model CartVM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Cart";
    var Colors = ViewBag.Colors as List<ProductColor>;
}

<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml", model: Model.Breadcrumb)
<!--breadcrumbs area end-->
<!--Main Start-->
<main>

    @if (Model.CartItems.Count > 0)
    {
        <!--shopping cart area start -->
        <div class="shopping_cart_area mt-60">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="table_desc">
                                <div class="cart_page table-responsive">
                                    <div class="cartWrapper">
                                        <div class="cartbg d-none">
                                            <h3 class="text-center">Redirecting to PayPal....</h3>
                                            <img src="~/images/ajax-loader.gif" />
                                        </div>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product_remove">@_localizer["Delete"]</th>
                                                    <th class="product_thumb">@_localizer["Image"]</th>
                                                    <th class="product_name">@_localizer["Product"]</th>
                                                    <th class="product-price">@_localizer["Price"]</th>
                                                    <th class="product-price">@_localizer["Color"]</th>
                                                    <th class="product_quantity">@_localizer["Quantity"]</th>
                                                    <th class="product_total">@_localizer["Total"]</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.CartItems)
                                                {

                                                    <tr>
                                                        <td class="product_remove">
                                                            <a class="text-danger @(Model.LanguageId==2?"categoryDelete":"categoryDeleteEn")" asp-action="remove" asp-controller="ordering" asp-route-id="@item.ProductId"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                        <td class="product_thumb">
                                                            <a href="#">
                                                                <img src="~/images/@item.Image" alt="@item.ProductName">
                                                            </a>
                                                        </td>
                                                        <td class="product_name"><a href="#">@item.ProductName</a></td>
                                                        <td class="product-price">
                                                            <price price="@item.Price" discount-price="0" language-id="@Model.LanguageId"></price>
                                                        </td>
                                                        <td>
                                                                <select name="colorId" data-id="@item.ProductId" class="custom-select custom-select-md ProductColor">
                                                                    @for (int i = 0; i < Colors.Where(x=>x.ProductId==item.ProductId).Count(); i++)
                                                                    {
                                                                        var colors = Colors.Where(x => x.ProductId == item.ProductId).ToList();
                                                                        if (colors[i].ColorId==item.ColorId)
                                                                        {
                                                                    <option style="font-size:30px;color:@colors[i].Color.Code" selected value="@colors[i].ColorId">
                                                                        @colors[i].Color.Name
                                                                    </option>
                                                                        }
                                                                        else
                                                                        {
                                                                <option style="font-size:30px;color:@colors[i].Color.Code" value="@colors[i].ColorId">
                                                                    @colors[i].Color.Name
                                                                </option>
                                                                        }
                                                                    }

                                                                </select>

                                                        </td>
                                                        <td class="product_quantity">
                                                            <label>@_localizer["Quantity"]</label>
                                                            <a asp-action="add" asp-controller="ordering" asp-route-id="@item.ProductId" asp-route-colorId="@item.ColorId" data-id="@item.ProductId" class="badge badge-info addCart">+</a>
                                                            <span class="quantitySpan">@item.Quantity</span> 
                                                            <a asp-action="decrease" asp-controller="ordering" asp-route-id="@item.ProductId" asp-route-colorId="@item.ColorId" data-id="@item.ProductId" class="badge badge-info decreaseCart">-</a>
                                                        </td>
                                                        <td class="product_total">
                                                            <price price="@Model.CartItems.Where(x=>x.ProductId==item.ProductId && x.ColorId==item.ColorId).Sum(x=>x.Quantity*x.Price)" discount-price="0" language-id="@Model.LanguageId"></price>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="cart_submit">
                                    <a asp-action="clear" asp-controller="ordering" class="btn-warning btn @(Model.LanguageId==2?"jobDeleteAz":"jobDelete")">@_localizer["Clear Cart"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area start-->
                    <div class="coupon_area">
                        <div class="row">
                            
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code right">
                                    <h3>Cart Totals</h3>
                                    <div class="coupon_inner">
                                       
                                        <div class="cart_subtotal">
                                            <p>@_localizer["Total"]</p>
                                            <p class="cart_amount">
                                                <price price="@Model.GrandTotal" discount-price="0" language-id="@Model.LanguageId"></price>
                                            </p>
                                        </div>
                                        <div class="checkout_btn">
                                            <a asp-action="checkout" asp-controller="ordering">@_localizer["Checkout"]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area end-->
                </form>
            </div>
        </div>
        <!--shopping cart area end -->
    }
    else
    {
        <h3 class="display-4 text-center">@_localizer["Your Cart Is Empty"] </h3>
    }
</main>
<!--Main End-->
@section Scripts{
    <script>
        $(function () {
            $(".decreaseCart").click(function (event) {
                event.preventDefault();
                let id = $(this).data("id");
                var a = $(this);
                var span = $(this).parent().children(".quantitySpan");
                var quant = parseInt($(this).parent().children(".quantitySpan").html());
                var total = parseFloat($(this).parent().parent().find(".current_price").html());
                var alltotal =parseFloat($(".coupon_area").find(".current_price").html());
                $.get('/ordering/decrease/' + id, {}, function (data) {
                   
                    if (quant>1) {
                        span.html(quant - 1);
                        
                    a.parent().parent().children(".product_total").find(".current_price").html(((quant-1) * total).toFixed(2));
                    $(".coupon_area").find(".current_price").html((alltotal - total).toFixed(2));
                    toastr.success('@_localizer["Product quantity decreased"]', '@_localizer["Success"]');
                    } else {
                    span.parent().parent().remove();
                        toastr.success('@_localizer["Product deleted"]', '@_localizer["Success"]');
                        $(".coupon_area").find(".current_price").html((alltotal - total).toFixed(2));
                    }
                });
            });
        });
         $(function () {
            $(".addCart").click(function (event) {
                event.preventDefault();
                let id = $(this).data("id");
                var a = $(this);
                var span = $(this).parent().children(".quantitySpan");
                var alltotal =parseFloat($(".coupon_area").find(".current_price").html());
                var quant = parseInt($(this).parent().children(".quantitySpan").html());
                var total = parseFloat($(this).parent().parent().find(".current_price").html());
                $.get('/ordering/add/' + id, {}, function (data) {
                    span.html(quant + 1);
                    toastr.success('@_localizer["Same Product quantity increased"]', '@_localizer["Success"]');
                    a.parent().parent().children(".product_total").find(".current_price").html(((quant + 1) * total).toFixed(2));
                    $(".coupon_area").find(".current_price").html((alltotal + total).toFixed(2));
                });
            });
        });
    </script>

}