@model CartVM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Wishlist";
}

<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml", model: Model.Breadcrumb)
<!--breadcrumbs area end-->
<!--Main Start-->
<main>

    <!--wishlist area start -->
    <div class="wishlist_area mt-60">
        <div class="container">
            @if (Model.CartItems.Count > 0)
            {
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="table_desc">
                                <div class="cart_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product_remove">@_localizer["Delete"]</th>
                                                <th class="product_thumb">@_localizer["Image"]</th>
                                                <th class="product_name">@_localizer["Product"]</th>
                                                <th class="product-price">@_localizer["Price"]</th>
                                                <th class="product_quantity">@_localizer["Quantity"]</th>
                                                <th class="product_total">@_localizer["Add to Cart"]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.CartItems)
                                            {

                                                <tr>
                                                    <td class="product_remove">
                                                        <a asp-action="removeWishlist" asp-controller="ordering" asp-route-id="@item.ProductId"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                    <td class="product_thumb">
                                                        <a href="#">
                                                            <img src="~/images/@item.Image" alt="@item.ProductName">
                                                        </a>
                                                    </td>
                                                    <td class="product_name"><a href="#">@item.ProductName</a></td>
                                                    <td class="product-price">
                                                        <price price="@item.Price" discount-price="0" language-id="@Model.LanguageId"></price>
                                                    </td>
                                                    <td class="product_quantity">
                                                        @item.Quantity
                                                    </td>
                                                    <td class="product_total">
                                                        <a class="addToCart btn btn-info text-white" asp-route-id="@item.ProductId" asp-controller="ordering" asp-action="add" data-id="@item.ProductId" title="@_localizer["Add to cart"]"> @_localizer["Add to cart"]</a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart_submit">
                                    <a asp-action="clearWishlist" asp-controller="ordering" class="btn-warning btn ">@_localizer["Clear Cart"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area start-->
                    <div class="coupon_area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code right">
                                    <h3>@_localizer["Cart"] @_localizer["Total"]</h3>
                                    <div class="coupon_inner">
                                        <div class="cart_subtotal">
                                            <p>@_localizer["Total"]</p>
                                            <p class="cart_amount">
                                                <price price="@Model.GrandTotal" discount-price="0" language-id="@Model.LanguageId"></price>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area end-->
                </form>
            }
            else
            {
                <h3 class="display-4 text-center">@_localizer["Your Cart Is Empty"] </h3>
            }
            <div class="row">
                <div class="col-12">
                    <div class="wishlist_share">
                        <h4>Share on:</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--wishlist area end -->
</main>

@section Scripts{
    <script>
        $(function () {
            $("a.addToCart").click(function (e) {
                e.preventDefault();
                let id = $(this).data("id");
                $.get('/ordering/add/' + id, {}, function (data) {
                    $("div.smallCart").html(data);
                });
            });
        });
    </script>

}