@model IEnumerable<AppAdmin>

@{
    ViewData["Title"] = "Admin Panel";
}

<partial name="_NotificationPartial" />
<h1>Admin Panel</h1>
@if (ViewBag.isAdmin == "Admin")
{
    <p>
        <a asp-action="create" asp-controller="users" class="btn btn-outline-info">Yeni Admin Yarat</a>
    </p>
}

<table class="table display">
    <thead>
        <tr>
            <th>
                Ad
            </th>
            <th>
                Soyad
            </th>

            <th>
                Status
            </th>
            <th>
                E-Poçt
            </th>
            @if (ViewBag.isAdmin == "Admin")
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Firstname
            </td>
            <td>
                @item.Lastname
            </td>

            <td>
                @if (item.Ocupation != "Admin")
                {
                    if (item.UserName != User.Identity.Name)
                    {
                        <input @(item.EmailConfirmed == true ? "checked" : "") type="checkbox" id="toggle" class="toogleBoot toggle-checkbox"
                               data-toggle="toggle"
                               data-url="/Control/users/edit/@item.Id"
                               data-on="Aktiv"
                               data-off="Deaktiv"
                               data-onstyle="success"
                               data-offstyle="danger">
                    }
                    else
                    {
                        <span>Sən</span>
                    }

                }
                else
                {
                    <span>Əsas</span>
                }

            </td>

            <td>
                @item.Email
            </td>
            @if (ViewBag.isAdmin == "Admin")
            {
                <td>
                @if (item.Ocupation != "Admin")
                {
                    if (item.UserName != User.Identity.Name)
                    {
                        <a class="categoryDelete" asp-action="remove" asp-controller="users" asp-route-Email="@item.Email"><i class="fas fa-trash text-danger"></i></a>
                    }
                }
            </td>
            }
            

        </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(function () {
            $(".categoryDelete").click(function (event) {
                var deletinput = this;
                event.preventDefault();
                Swal.fire({
                    title: 'Əminsinizmi ?',
                    text: "Geri qaytarmaq mümkün olmayacaq",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Bəli, silinsin!',
                    cancelButtonText: 'Xeyir'
                }).then((result) => {
                    if (result.value) {

                        $.ajax({
                            url: $(deletinput).attr("href"),
                            success: function () {

                            },

                            complete: function () {
                                setTimeout(1000);
                                location.reload();
                            }
                        })
                        toastr.success('Ugurla basa catdi', 'Silindi')
                    }
                })
            })
        })
    </script>
    <script>
        $(function () {
            setTimeout(function () {
                $(".zmdi-notifications").fadeOut("slow");
            }, 2500)
        });
    </script>
}
