@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model BlogDetailVM
@{
    ViewData["Title"] = _localizer["Blog Detail"];
}

<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml",model:Model.BlogVM.Breadcrumb)
<!--breadcrumbs area end-->
<!--Main Start-->
<main>
    <!--blog body area start-->
    <div class="blog_details mt-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    @await Html.PartialAsync("~/Views/Shared/_BlogLeftSide.cshtml",model:Model.BlogVM)
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--blog grid area start-->
                    <div class="blog_wrapper">
                        <article class="single_blog">
                            <figure>
                                <div class="post_header">
                                    <h3 class="post_title">@Model.Blog.Title</h3>
                                    <div class="blog_meta">
                                        <span class="author">@_localizer["Posted By"] : <a href="#">@(Model.Blog.Blog.AdminManager !=null ? Model.Blog.Blog.AdminManager.Category.AdminCategoryTranslates.FirstOrDefault(a => a.LanguageId == Model.Blog.LanguageId).Name : "Admin")</a> / </span>
                                        <span class="post_date">@_localizer["On"] : <a href="#">@Model.Blog.Blog.CreatedAt.ToString("MMMM dd, yyyy")</a> /</span>
                                        <span class="post_category">
                                            In : <a href="#">
                                            @foreach (var cat in Model.BlogCategories)
                                            {
                                                <span>@cat.Category.BlogCategoryTranslates.FirstOrDefault(b=>b.LanguageId==Model.Blog.LanguageId).Name</span>
                                            }
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="blog_thumb">
                                    <a href="#"><img src="~/images/@Model.Blog.Blog.Photo" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <div class="post_content">
                                      @Html.Raw(Model.Blog.Content)
                                    </div>
                                    <div class="entry_content">

                                        <div class="social_sharing">
                                            <p>@_localizer["share this post"]:</p>
                                            <ul>
                                                <li>
                                                    <a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="pinterest">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="google+">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="related_posts">
                            <h3>@_localizer["Related posts"]</h3>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <article class="single_related">
                                        <figure>
                                            <div class="related_thumb">
                                                <img src="~/images/blog/blog3.jpg" alt="">
                                            </div>
                                            <figcaption class="related_content">
                                                <div class="blog_meta">
                                                    <span class="author">@_localizer["By"] : <a href="#">admin</a> / </span>
                                                    <span class="post_date"> April 11, 2019 </span>
                                                </div>
                                                <h4><a href="#">@_localizer["Post with Gallery"]</a></h4>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="single_related">
                                        <figure>
                                            <div class="related_thumb">
                                                <img src="~/images/blog/blog4.jpg" alt="">
                                            </div>
                                            <figcaption class="related_content">
                                                <div class="blog_meta">
                                                    <span class="author">@_localizer["By"] : <a href="#">admin</a> / </span>
                                                    <span class="post_date"> April 11, 2019 </span>
                                                </div>
                                                <h4><a href="#">@_localizer["Post with Audio"]</a></h4>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="single_related">
                                        <figure>
                                            <div class="related_thumb">
                                                <img src="~/images/blog/blog5.jpg" alt="">
                                            </div>
                                            <figcaption class="related_content">
                                                <div class="blog_meta">
                                                    <span class="author">@_localizer["By"] : <a href="#">admin</a> / </span>
                                                    <span class="post_date"> April 11, 2019 </span>
                                                </div>
                                                <h4><a href="#">Maecenas ultricies</a></h4>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="comments_box">
                            <h3>@Model.Blog.Blog.BlogReviews.Count @_localizer["Comments"]  </h3>
                            @if (Model.Blog.Blog.BlogReviews.Count > 0)
                            {
                                @foreach (var rev in Model.Blog.Blog.BlogReviews)
                                {
                                    <div class="comment_list">
                                        <div class="comment_thumb">
                                            <img src="~/images/blog/comment3.png.jpg" alt="">
                                        </div>
                                        <div class="comment_content">
                                            <div class="comment_meta">
                                                <h5><a href="#">@(rev.AdminManagerId>0?rev.Admin.Category.AdminCategoryTranslates.FirstOrDefault(a=>a.LanguageId==Model.Blog.LanguageId).Name  : rev.User.Firstname +" "+ rev.User.Lastname)</a></h5>
                                                <span>@rev.CreatedAt.ToString("MM dd, yyy 'at' HH:mm ")</span>
                                            </div>
                                            <p>
                                              @rev.Content
                                            </p>
                                        </div>

                                    </div>
                                }
                            }

                        </div>
                        <div class="comments_form">
                            <h3>@_localizer["Leave a Reply"] </h3>
                            <p>@_localizer["Your email address will not be published. Required fields are marked"] *</p>
                            <form asp-action="Review" asp-controller="Blog" method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="Content">@_localizer["Comment"] </label>
                                        <textarea name="Content" id="Content"></textarea>
                                    </div>
                                    <input hidden name="BlogId" value="@Model.Blog.BlogId" />
                                    <input hidden name="UserClientId" value="@Model.UserClientId" />
                                    <input hidden name="AdminManagerId" value="@Model.AdminId" />
                                </div>
                                <button class="button" type="submit">@_localizer["Post Comment"]</button>
                            </form>
                        </div>

                    </div>
                    <!--blog grid area start-->
                </div>
            </div>
        </div>
    </div>
    <!--blog section area end-->
</main>
<!--Main End-->
