@model IEnumerable<Junko.Models.ProductCategory>

@{
    ViewData["Title"] = "Məhsul Kateqoriyaları";
}

<partial name="_NotificationPartial" />
<h1>Məhsul Kateqoriyaları</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Yeni Məhsul Kateqoriyası yarat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="100" src="~/images/@(item.Photo!=null?item.Photo:"noimage.png")" />
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <a href="@Url.Action("edit","productcategories",new { id=item.Id, status=false})" class="statusActive">
                            <span class="badge badge-success">Avtiv</span>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("edit","productcategories",new { id=item.Id,status=true})" class="statusActive">
                            <span class="badge badge-danger">Deactive</span>
                        </a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminManager.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fas fa-info-circle"></i></a>
                    <a class="categoryDelete" asp-action="delete" asp-route-id="@item.Id"><i class="fas fa-trash text-danger"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>
        $(function () {
            setTimeout(function () {
                $(".zmdi-notifications").fadeOut("slow");
            }, 2500)
        });
    </script>
}