@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model SettingVM
<!--footer start-->
<footer class="footer_widgets">
    <div class="footer_top">
        <div class="container">
            <!--shipping area start-->
            <section class="shipping_area shipping_two">
                <div class=" row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single_shipping">
                            <div class="shipping_icone">
                                <img src="~/images/about/shipping1.png" alt="">
                            </div>
                            <div class="shipping_content">
                                <h2>@_localizer["Free Shipping"]</h2>
                                <p>@_localizer["Free shipping on all Azerbaijan order"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_shipping">
                            <div class="shipping_icone">
                                <img src="~/images/about/shipping2.png" alt="">
                            </div>
                            <div class="shipping_content">
                                <h2>@_localizer["Support 24/7"]</h2>
                                <p>@_localizer["Contact us 24 hours a day"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_shipping">
                            <div class="shipping_icone">
                                <img src="~/images/about/shipping3.png" alt="">
                            </div>
                            <div class="shipping_content">
                                <h2>@_localizer["100% Money Back"]</h2>
                                <p>Y@_localizer["You have 30 days to Return"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_shipping">
                            <div class="shipping_icone">
                                <img src="~/images/about/shipping4.png" alt="">
                            </div>
                            <div class="shipping_content">
                                <h2>@_localizer["Payment Secure"]</h2>
                                <p>@_localizer["We ensure secure payment"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--shipping area end-->
            <div class="footer_top_inner">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container contact_us">
                            <div class="footer_logo">
                                <a href="#"><img src="~/images/@Model.Setting.PhotoLogo" alt=""></a>
                            </div>
                            <div class="footer_contact">
                                <p>
                                    We are a team of designers and developers that
                                    create high quality HTML Template, Woocommerce, Shopify Theme.
                                </p>
                                <p><span>@_localizer["Address"]:</span>@Model.SettingTranslate.Address</p>
                                <p>
                                    <span>@_localizer["Telephone"]: </span><a href="tel: @Model.Setting.Phone">@Model.Setting.Phone</a>

</p>
                                <p>
                                    <span>@_localizer["Support"]: </span><a target="_blank"
                                                             href="https://hasthemes.com/contact-us/">https://hasthemes.com/contact-us/</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>@_localizer["Information"]</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a asp-controller="about" asp-action="index">@_localizer["About Us"]</a></li>
                                    <li><a asp-controller="blog" asp-action="index">@_localizer["Blogs"]</a></li>
                                    <li><a asp-controller="privacy" asp-action="index">@_localizer["Privacy Policy"]</a></li>
                                    <li><a asp-controller="service" asp-action="index">@_localizer["Services"]</a></li>
                                    <li><a asp-controller="faq" asp-action="index">@_localizer["FAQ"]</a></li>
                                    <li><a asp-controller="contact" asp-action="index">@_localizer["Contact Us"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>@_localizer["My Account"]</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">@_localizer["My Account"]</a></li>
                                    <li><a href="#">@_localizer["Checkout"]</a></li>
                                    <li><a asp-controller="ordering" asp-action="wishlist">@_localizer["Wish List"]</a></li>
                                    <li><a href="#">@_localizer["View Cart"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container newsletter">
                            <h3>@_localizer["Follow Us"]</h3>
                            <div class="footer_social_link">
                                <ul>
                                    @foreach (var Social in Model.Setting.SocialActivities)
                                    {
                                        <li>
                                            <a target="_blank" class="@Social.Name" href="@Social.Link" title="@Social.Name">
                                                <i class="fa fa-@Social.Name"></i>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p> &copy; @DateTime.Now.ToString("dd MMMM yyyy") <a href="#">@Model.Setting.Logo</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer_payment text-right">
                        <a href="#"><img src="~/images/icon/payment.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
