@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model HomeVM
<!--Main Start-->
@{

    ViewData["Title"] = _localizer["Electronics eCommerce"];
}
<main>
    <!--slider start-->
    <section class="slider_section slider_section_two mb-70">
        <div class="slider_area owl-carousel">
            @foreach (var product in Model.HomeHeaders.Take(3))
            {
                <div class="single_slider d-flex align-items-center" data-bgimg="/images/@(product.Photo!=null?product.Photo:"product/product-default.png")">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider_content">
                                    <h1>@product.HomeHeaderTranslates.FirstOrDefault(t => t.LanguageId == Model.LanguageId).Title</h1>
                                    <h2>@product.Product.Name</h2>
                                    <p>@_localizer["exclusive offer"] <span>@(product.Product.Discount)% @_localizer["sale"] </span>@(product.Product.DiscountDate <= 7 ? _localizer["this week"].Value : _localizer["this month"].Value)</p>
                                    <a class="button" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Product.Slug">@_localizer["shopping now"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <!--slider end-->
    <!-- category start-->
    <section class="top_category_product mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3">
                    <div class="top_category_header">
                        <h3>@_localizer["Top Categories This Week"]</h3>
                        <p>@_localizer["The most visited categories this week"]</p>
                        <a asp-action="index" asp-controller="shop">@_localizer["Show All Categories"]</a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-9">
                    <div class="top_category_container category_column5 owl-carousel">
                        @foreach (var cat in Model.BestCategory)
                        {
                            <div class="col-lg-2">
                                <article class="single_category">
                                    <figure>
                                        <div class="category_thumb">
                                            <a asp-controller="shop" asp-action="index" asp-route-category="@cat.ProductSubCategories.FirstOrDefault().Id"><img style="height:100px" src="~/images/@cat.Photo" alt="@cat.ProductCategoryTranslate.FirstOrDefault(a=>a.LanguageId==Model.LanguageId).Name"></a>
                                        </div>
                                        <figcaption class="category_name">
                                            <h3><a asp-controller="shop" asp-action="index" asp-route-category="@cat.ProductSubCategories.FirstOrDefault().Id">@cat.ProductCategoryTranslate.FirstOrDefault(a => a.LanguageId == Model.LanguageId).Name</a></h3>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- category  end-->
    <!--product start-->

    @await Html.PartialAsync("~/Views/Shared/_MostSaled.cshtml", model: Model.MostSaleds)
    <!--product end-->
    <!--banner start-->
    <div class="banner_area banner_two mb-40">
        <div class="container">
            <div class="row">
                @foreach (var product in Model.HomeHeaders.Skip(3).Take(2))
                {
                    <div class="col-lg-6 col-md-6">
                        <div class="single_banner mb-30">
                            <div class="banner_thumb">
                                <div class="single_slider d-flex align-items-center" style="background-size:cover;height:auto" data-bgimg="/images/@(product.Photo!=null?product.Photo:"product/product-default.png")">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="slider_content">
                                                    <h1 style="font-size:20px;font-weight:bold">@product.HomeHeaderTranslates.FirstOrDefault(t => t.LanguageId == Model.LanguageId).Title</h1>
                                                    <h2 style="font-size:14px">@product.Product.Name</h2>
                                                    <p style="font-size:14px;margin-top:0">@_localizer["exclusive offer"] <span>@(product.Product.Discount)% @_localizer["sale"] </span>@(product.Product.DiscountDate <= 7 ? _localizer["this week"].Value : _localizer["this month"].Value)</p>
                                                    <a class="button mb-3 mt-0 " style="font-size:11px;line-height:34px;height:31px; padding:0 12px" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Product.Slug">@_localizer["shopping now"]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--banner end-->
    <!--featured product start-->
    <section class="featured_product_area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab_btn_container">
                        <div class="section_title">
                            <h2>@_localizer["New Products"]</h2>
                        </div>
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist">
                                @for (int i = 0; i < Model.NewProductsCategory.Count; i++)
                                {
                                    ProductCategory cat = Model.NewProductsCategory.Skip(i).FirstOrDefault();
                                    <li>
                                        <a class="@(i==0?"active":"")" data-toggle="tab" href="#NewArrival-@cat.Id" role="tab"
                                           aria-controls="NewArrival-@cat.Id" aria-selected="@(i==0?true:false)">
                                            @cat.ProductCategoryTranslate.FirstOrDefault(p => p.LanguageId == Model.LanguageId).Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                @for (int i = 0; i < Model.NewProductsCategory.Count; i++)
                {
                    ProductCategory cat = Model.NewProductsCategory.Skip(i).FirstOrDefault();

                    <div class="tab-pane fade @(i==0?"show active":"")" id="NewArrival-@cat.Id" role="tabpanel">
                        <div class="row featured_container featured_column3">
                            @foreach (var product in Model.NewProducts.Where(n => n.BrandProductCategory.ProductSubCategory.ProductCategoryId == cat.Id))
                            {
                                <div class="col-lg-4">
                                    <div class="ajaxbg d-none">
                                        <img width="50" height="50" src="~/images/ajax-loader.gif" />
                                        <p class="lead alert alert-success text-center d-none">
                                            @_localizer["The Product has been Added!"]
                                        </p>
                                    </div>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                    <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null?"product/product-default.png":product.ProductPhotos.FirstOrDefault().Photo) " alt="@product.Name">
                                                </a>
                                                <a class="secondary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                    <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null ?"product/product-default.png":product.ProductPhotos.Count==1?product.ProductPhotos.FirstOrDefault().Photo:product.ProductPhotos.Skip(1).FirstOrDefault().Photo)" alt="@product.Name">
                                                </a>
                                                <div class="label_product">
                                                    <span class="label_sale">@_localizer["sale"] </span>
                                                </div>
                                            </div>
                                            <figcaption class="product_content">

                                                <price price="@product.Price" discount-price="@product.Discount" language-id="@product.BrandProductCategory.ProductSubCategory.ProductSubCategoryTranslate.FirstOrDefault(a=>a.LanguageId==Model.LanguageId).Id"></price>
                                                <h3 class="product_name">
                                                    <a asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                        @product.Name
                                                    </a>
                                                </h3>
                                                <div class="product_ratings">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="add_to_cart">
                                                    <a class="addToCart" asp-route-id="@product.Id" asp-controller="ordering" asp-action="add" data-id="@product.Id" title="@_localizer["Add to cart"]"> @_localizer["Add to cart"]</a>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--featured product end-->
    <!--product start-->
    <section class="product_area mb-46">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab_btn_container">
                        <div class="section_title">
                            <h2>@Model.BestCategory.FirstOrDefault().ProductCategoryTranslate.FirstOrDefault(a => a.LanguageId == Model.LanguageId).Name</h2>
                        </div>
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist">
                                @for (int i = 0; i < Model.BestCategory.FirstOrDefault().ProductSubCategories.Count; i++)
                                {
                                    ProductSubCategory cat = Model.BestCategory.FirstOrDefault().ProductSubCategories.Skip(i).FirstOrDefault();
                                    <li>
                                        <a class="@(i==0?"active":"")" data-toggle="tab" href="#NewArrival-@cat.Id" role="tab"
                                           aria-controls="NewArrival-@cat.Id" aria-selected="@(i==0?true:false)">
                                            @cat.ProductSubCategoryTranslate.FirstOrDefault(a => a.LanguageId == Model.LanguageId).Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                @for (int i = 0; i < Model.BestCategory.FirstOrDefault().ProductSubCategories.Count; i++)
                {
                    ProductSubCategory cat = Model.BestCategory.FirstOrDefault().ProductSubCategories.Skip(i).FirstOrDefault();

                    <div class="tab-pane fade @(i==0?"show active":"")" id="NewArrival-@cat.Id" role="tabpanel">
                        <div class="row featured_container featured_column3">
                            @foreach (var product in Model.NewProducts.Where(n => n.BrandProductCategory.ProductSubCategoryId == cat.Id))
                            {
                                <div class="col-lg-4">
                                    <div class="ajaxbg d-none">
                                        <img width="50" height="50" src="~/images/ajax-loader.gif" />
                                        <p class="lead alert alert-success text-center d-none">
                                            @_localizer["The Product has been Added!"]
                                        </p>
                                    </div>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                    <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null?"product/product-default.png":product.ProductPhotos.FirstOrDefault().Photo) " alt="@product.Name">
                                                </a>
                                                <a class="secondary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                    <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null ?"product/product-default.png":product.ProductPhotos.Count==1?product.ProductPhotos.FirstOrDefault().Photo:product.ProductPhotos.Skip(1).FirstOrDefault().Photo)" alt="@product.Name">
                                                </a>
                                                <div class="label_product">
                                                    <span class="label_sale">@_localizer["sale"] </span>
                                                </div>
                                            </div>
                                            <figcaption class="product_content">

                                                <price price="@product.Price" discount-price="@product.Discount" language-id="@product.BrandProductCategory.ProductSubCategory.ProductSubCategoryTranslate.FirstOrDefault(a=>a.LanguageId==Model.LanguageId).Id"></price>
                                                <h3 class="product_name">
                                                    <a asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                        @product.Name
                                                    </a>
                                                </h3>
                                                <div class="add_to_cart">
                                                    <a class="addToCart" asp-route-id="@product.Id" asp-controller="ordering" asp-action="add" data-id="@product.Id" title="@_localizer["Add to cart"]"> @_localizer["Add to cart"]</a>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--product end-->
    <!--banner start-->
    <div class="banner_area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single_banner">
                        <div class="banner_thumb">
                            @{
                                var pro = Model.HomeHeaders.Skip(5).FirstOrDefault();
                            }
                            <div class="single_slider d-flex align-items-center" style="background-size:contain;height:auto" data-bgimg="/images/@(pro.Photo!=null?pro.Photo:"product/product-default.png")">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="slider_content">
                                                <h1 style="font-size:20px;font-weight:bold;margin-left:200px">@pro.HomeHeaderTranslates.FirstOrDefault(t => t.LanguageId == Model.LanguageId).Title</h1>
                                                <h2 style="font-size:14px;margin-left:200px">@pro.Product.Name</h2>
                                                <p style="font-size:14px;margin-top:0;margin-left:200px">@_localizer["exclusive offer"] <span>@(pro.Product.Discount)% @_localizer["sale"] </span>@(pro.Product.DiscountDate <= 7 ? _localizer["this week"].Value : _localizer["this month"].Value)</p>
                                                <a class="button mb-3 mt-0 " style="margin-left:200px;" asp-controller="shop" asp-action="detail" asp-route-slug="@pro.Product.Slug">@_localizer["shopping now"]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner end-->
    <!--custom product-->
    <section class="custom_product_area">
        <div class="container">
            <div class="row" style="height:70vh">
                <div class="col-lg-4 col-md-12">
                    <!--featured product area-->
                    <div class="small_product_area">
                        <div class="section_title">
                            <h2><span> @_localizer["New Arrivals"] </span></h2>
                        </div>
                        <div class="small_product_container small_product_active">
                            @foreach (var product in Model.NewProducts.Take(9))
                            {
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null?"product/product-default.png":product.ProductPhotos.FirstOrDefault().Photo) " alt="@product.Name">
                                            </a>
                                            <a class="secondary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null ?"product/product-default.png":product.ProductPhotos.Count==1?product.ProductPhotos.FirstOrDefault().Photo:product.ProductPhotos.Skip(1).FirstOrDefault().Photo)" alt="@product.Name">
                                            </a>
                                        </div>

                                        <figcaption class="product_content">

                                            <price price="@product.Price" discount-price="@product.Discount" language-id="@product.BrandProductCategory.ProductSubCategory.ProductSubCategoryTranslate.FirstOrDefault(a=>a.LanguageId==Model.LanguageId).Id"></price>
                                            <h3 class="product_name">
                                                <a asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                    @product.Name
                                                </a>
                                            </h3>
                                            <div class="add_to_cart">
                                                <a class="addToCart" asp-route-id="@product.Id" asp-controller="ordering" asp-action="add" data-id="@product.Id" title="@_localizer["Add to cart"]"> @_localizer["Add to cart"]</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        </div>
                    </div>
                    <!--featured product end-->
                </div>
                <div class="col-lg-4 col-md-12">
                    <!--featured product area-->
                    <div class="small_product_area">
                        <div class="section_title">
                            <h2><span> @_localizer["On sale Products"] </span></h2>
                        </div>
                        <div class="small_product_container small_product_active">
                            @foreach (var product in Model.MostSaleds.Take(9))
                            {
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null?"product/product-default.png":product.ProductPhotos.FirstOrDefault().Photo) " alt="@product.Name">
                                            </a>
                                            <a class="secondary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null ?"product/product-default.png":product.ProductPhotos.Count==1?product.ProductPhotos.FirstOrDefault().Photo:product.ProductPhotos.Skip(1).FirstOrDefault().Photo)" alt="@product.Name">
                                            </a>
                                        </div>
                                        <figcaption class="product_content">

                                            <price price="@product.Price" discount-price="@product.Discount" language-id="@product.BrandProductCategory.ProductSubCategory.ProductSubCategoryTranslate.FirstOrDefault(a=>a.LanguageId==Model.LanguageId).Id"></price>
                                            <h3 class="product_name">
                                                <a asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                    @product.Name
                                                </a>
                                            </h3>
                                            <div class="add_to_cart">
                                                <a class="addToCart" asp-route-id="@product.Id" asp-controller="ordering" asp-action="add" data-id="@product.Id" title="@_localizer["Add to cart"]"> @_localizer["Add to cart"]</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        </div>
                    </div>
                    <!--featured product end-->
                </div>
                <div class="col-lg-4 col-md-12">
                    <!--featured product area-->
                    <div class="small_product_area">
                        <div class="section_title">
                            <h2><span> @_localizer["Top rated Products"] </span></h2>
                        </div>
                        <div class="small_product_container small_product_active">
                            @foreach (var product in Model.MostFollowProducts.Take(9))
                            {
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null?"product/product-default.png":product.ProductPhotos.FirstOrDefault().Photo) " alt="@product.Name">
                                            </a>
                                            <a class="secondary_img" asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                <img src="~/images/@(product.ProductPhotos.FirstOrDefault()==null ?"product/product-default.png":product.ProductPhotos.Count==1?product.ProductPhotos.FirstOrDefault().Photo:product.ProductPhotos.Skip(1).FirstOrDefault().Photo)" alt="@product.Name">
                                            </a>
                                        </div>
                                        <figcaption class="product_content">
                                            <price price="@product.Price" discount-price="@product.Discount" language-id="@product.BrandProductCategory.ProductSubCategory.ProductSubCategoryTranslate.FirstOrDefault(a=>a.LanguageId==Model.LanguageId).Id"></price>
                                            <h3 class="product_name">
                                                <a asp-controller="shop" asp-action="detail" asp-route-slug="@product.Slug">
                                                    @product.Name
                                                </a>
                                            </h3>
                                            <div class="add_to_cart">
                                                <a class="addToCart" asp-route-id="@product.Id" asp-controller="ordering" asp-action="add" data-id="@product.Id" title="@_localizer["Add to cart"]"> @_localizer["Add to cart"]</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        </div>
                    </div>
                    <!--featured product end-->
                </div>
            </div>
        </div>
    </section>
    <!--custom product-->
    <!--brand start-->
    <div class="brand_area brand_two mb-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand_container owl-carousel">
                        @foreach (var partner in Model.Partners)
                        {
                            <div class="brand_items">
                                <div class="single_brand">
                                    <a href="#"><img src="~/images/@partner.Photo" alt="@partner.Name"></a>
                                </div>
                                <div class="single_brand">
                                    <a href="#"><img src="~/images/@partner.Photo" alt="@partner.Name"></a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--brand end-->
</main>
<!--Main End-->
@section Scripts{
    <script>
        $(function () {
            $("a.addToCart").click(function (e) {
                e.preventDefault();
                let ajaxDiv = $(this).parent().parent().parent().parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");
                let id = $(this).data("id");
                $.get('/ordering/add/' + id, {}, function (data) {
                    $("div.smallCart").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    ajaxDiv.find("p").removeClass("d-none");
                    setTimeout(() => {
                        ajaxDiv.animate({ opacity: 0 }, function () {
                            $(this).addClass("d-none").fadeTo(.1, 1);
                            $(this).find("img").removeClass("d-none");
                            $(this).find("p").addClass("d-none");
                        });
                    });
                });
            });
        });
    </script>

}