@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model AboutVM
@{
    ViewData["Title"] = _localizer["About Us"];
}

<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml",model:Model.Breadcrumb)
<!--breadcrumbs area end-->
<!--Main Start-->
<main>
    <!--about section area -->
    <section class="about_section mt-60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <figure>
                        <div class="about_thumb">
                            <img src="~/images/@Model.AboutSettingTranslate.AboutSetting.Photo" alt="@Model.AboutSettingTranslate.Title">
                        </div>
                        <figcaption class="about_content">
                            <h1>@Model.AboutSettingTranslate.Title</h1>
                            <p>
                                @Model.AboutSettingTranslate.Desc
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--about section end-->
    <!--services img area-->
    <div class="about_gallery_section">
        <div class="container">
            <div class="row">
                @foreach (var whatdo in Model.WhatDoTranslates)
                {
                    <div class="col-lg-6 col-md-6">
                        <article class="single_gallery_section">
                            <figure>
                                <div class="gallery_thumb">
                                    <img src="~/images/@whatdo.WhatDo.Photo" alt="@whatdo.Title">
                                </div>
                                <figcaption class="about_gallery_content">
                                    <h3>@whatdo.Title</h3>
                                    <p>
                                        @whatdo.Desc
                                    </p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--services img end-->
    <!--chose us area start-->
    <div class="choseus_area">
        <div class="container">
            <div class="row">
                @foreach (var ser in Model.OurServiceTranslates)
                {
                    <div class="col-lg-4 col-md-4">
                        <div class="single_chose">
                            <div class="chose_icone">
                                <i style="font-size:50px" class="@ser.OurService.Icon"></i>
                            </div>
                            <div class="chose_content">
                                <h3>@ser.Title</h3>
                                <p>
                                    @ser.Desc
                                </p>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--chose us area end-->
    <!--team area start-->
    <div class="team_area">
        <div class="container">
            <div class="row">
                @foreach (var admin in Model.AdminManagers)
                {
                    <div class="col-lg-3 col-md-6">
                        <article class="team_member">
                            <figure>
                                <div class="team_thumb">
                                    <img src="~/images/@admin.Photo" alt="@admin.Firstname">
                                </div>
                                <figcaption class="team_content">
                                    <h3>@admin.Firstname</h3>
                                    <h5>@admin.Category.AdminCategoryTranslates.FirstOrDefault(a=>a.AdminCategoryId==admin.AdminCategoryId && a.LanguageId==Model.AboutSettingTranslate.LanguageId).Name</h5>
                                    <p>@_localizer["Phone"] : @admin.Phone <br> @_localizer["Email"]: @admin.Email</p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--team area end-->
</main>
<!--Main End-->
