@model Product
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization;
@inject IViewLocalizer _localizer
@{
    var rqf = Context.Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var culture = rqf.RequestCulture.Culture;
}
<!-- modal start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content product-details-large">
                                    @for (int i = 0; i < Model.ProductPhotos.Count; i++)
                                    {
                                        var prod = Model.ProductPhotos.Skip(i).FirstOrDefault();
                                        <div class="tab-pane fade @(i==0?"show active":"")" id="tab-@i" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/images/@prod.Photo" alt="@prod.Product.Name"></a>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="modal_tab_button">
                                    <ul class="nav product_navactive owl-carousel" role="tablist">
                                        @for (int i = 0; i < Model.ProductPhotos.Count; i++)
                                        {
                                            var prod = Model.ProductPhotos.Skip(i).FirstOrDefault();
                                            <li>
                                                <a class="nav-link @(i==0?"active":"")" data-toggle="tab" href="#tab-@i" role="tab"
                                                   aria-controls="tab-@i" aria-selected="false">
                                                    <img src="~/images/@prod.Photo" alt="@prod.Product.Name">
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2>@Model.Name</h2>
                                </div>

                                <price price="@Model.Price" discount-price="@Model.Discount" language-id="@Model.BrandProductCategory.ProductSubCategory.ProductSubCategoryTranslate.FirstOrDefault(a=>a.Language.LanguageCode==culture.ToString()).LanguageId"></price>
                                <div class="modal_description mb-15">
                                    <p>
                                        @Model.ProductTranslates.FirstOrDefault(x => x.Language.LanguageCode == culture.ToString()).Desc
                                    </p>
                                </div>
                                <div class="variants_selects">
                                    <div class="variants_color">
                                        <h2>color</h2>
                                        <select class="select_option">
                                            @foreach (var color in Model.ProductColors.Where(p => p.ProductId == Model.Id))
                                            {
                                                <option style="background-color:@(color.Color.Code)"></option>
                                            }
                                        </select>
                                    </div>
                                    <div class="modal_add_to_cart">
                                        <form action="#">
                                            <input min="0" max="100" step="2" value="1" type="number">
                                            <button type="submit">add to cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal_social">
                                    <h2>Share this product</h2>
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="google-plus">
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal end-->