@model DashboardViewModel
@{
    ViewBag.Title = "Idarəetmə Paneli";
}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Idarəetmə Paneli</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Gəlir (Orta Aylıq)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.AmountMonthly.ToString("#.00") (₼)</div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-credit-card fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Gəlir (Ümumi)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalAmount.ToString("#.00") (₼)</div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-credit-card fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Aktiv Məhsullar</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Products.Where(x => x.Status == true).Count()</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Son 1 ayda satılan məhsullar</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.OrderProducts.Where(x => x.CreatedAt.AddMonths(1) > DateTime.Now && x.Complete == Complete.Completed).Sum(x => x.Quantity)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tamamlanmış Sifarişlər</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.OrderProducts.Where(x => x.Complete == Complete.Completed).Count()</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shipping-fast fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Son 1 ayın sifarişləri</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.OrderProducts.Where(x => x.CreatedAt.AddMonths(1) > DateTime.Now && x.Complete == Complete.Completed).Count()</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shipping-fast fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">İstifadəçilər</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.UsersCount</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Son 1 saat Ərzində Online olan İstifadəçilər</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.UsersCount</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Xəbərlər</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.BlogsCount</div>
                    </div>
                    <div class="col-auto">
                        <i class="fab fa-blogger fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ən çox daxil olunan Məhsullar</h6>
            </div>
            <div class="card-body">
                @for (int i = 0; i < 5; i++)
                {
                    var products = Model.Products.OrderByDescending(x => x.FollowCount).Take(5);
                    var firstCount = products.FirstOrDefault().FollowCount;
                    var otherCount = products.Skip(i).FirstOrDefault().FollowCount;
                    <h4 class="small font-weight-bold">@products.Skip(i).FirstOrDefault().Name<span class="float-right">@(i == 0 ? "100" : ((otherCount / firstCount) * 100)?.ToString("#")) %</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: @(i==0 ? "100%": (otherCount/firstCount)?.ToString("#%") )" aria-valuenow="@(i==0 ? "100": ((otherCount/firstCount)*100)?.ToString("#") )" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                }


            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Son 1 Ayda Ən Çox Satılan Məhsullar</h6>
            </div>
            <div class="card-body">
                @{

                    var productsOrder = Model.Products.OrderByDescending(x => x.OrderProducts.Where(x => x.Complete == Complete.Completed && x.CreatedAt.AddMonths(1) > DateTime.Now).Sum(x => x.Quantity)).Take(5);

                    var firstCountOrder = productsOrder.FirstOrDefault().OrderProducts.Where(x => x.Complete == Complete.Completed).Sum(x => x.Quantity);
                    <h4 class="small font-weight-bold">@productsOrder.FirstOrDefault().Name<span class="float-right">100 %</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                }
                @for (int i = 1; i < 5; i++)
                {
                    var otherCount = productsOrder.Skip(i).FirstOrDefault().OrderProducts.Where(x => x.Complete == Complete.Completed)?.Sum(x => x.Quantity);
                    <h4 class="small font-weight-bold">@productsOrder.Skip(i).FirstOrDefault().Name<span class="float-right">@(((otherCount* 100 / firstCountOrder) )?.ToString("#")) %</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: @((otherCount*100/firstCountOrder)?.ToString("#")+"%" )" aria-valuenow="@(((otherCount*100/firstCountOrder))?.ToString("#") )" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                }
                @{
                    ;
                }

            </div>
        </div>

    </div>
</div>





