@model IEnumerable<Properity>

@{
    ViewData["Title"] = "Xüsusiyətlər";
}

<partial name="_NotificationPartial" />
<h1>Məhsul Xüsusiyətləri</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Əlavə et</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ad
            </th>
            <th>
                Yaranma vaxtı
            </th>
            <th>
                Yenilənmə vaxtı
            </th>
            <th>
               Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x=>x.ModifiedAt))
        {
            <tr>
                <td>
                    @item.ProperityTranslates.FirstOrDefault(x=>x.LanguageId==2).Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <a href="@Url.Action("edit","properities",new { id=item.Id, status=false})" class="statusActive">
                            <span class="badge badge-success">Aktiv</span>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("edit","properities",new { id=item.Id,status=true})" class="statusActive">
                            <span class="badge badge-danger">Passiv</span>
                        </a>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fas fa-info-circle"></i></a>
                    <a class="categoryDelete" asp-action="delete" asp-route-id="@item.Id"><i class="fas fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>
        $(function () {
            setTimeout(function () {
                $(".zmdi-notifications").fadeOut("slow");
            }, 2500)
        });
    </script>
}