@model Junko.Models.SettingTranslate

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>SettingTranslate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Setting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Setting.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAQTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAQTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAQContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAQContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Privacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Privacy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminManager.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
